<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "pl.apilabs.inteldemo"
        versionCode = "10"
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->
    <gap:platform name="ios"/>
    <gap:platform name="android"/>

    <name>IntelDemo</name>

    <description>ApiLabs</description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Hardeep Shoker
    </author>
    <content src="index.html"/>

    <!-- PLUGINS -->
    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
    <gap:plugin name="nl.x-services.plugins.socialsharing" version="4.0.8" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.8" />
    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.3.3" />
    <gap:plugin name="org.apache.cordova.splashscreen" version="0.2.3"/>
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />
    <gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />

    <gap:plugin name="de.phonostar.softkeyboard" version="0.1" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.7" />

    <!-- SOCIAL SHARING -->
    <feature name="SocialSharing">
        <param name="ios-package" value="SocialSharing" />
        <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
    </feature>
    <feature name="SplashScreen">
        <param name="ios-package" value="CDVSplashScreen" />
        <param name="onload" value="true" />
    </feature>
    <feature name="NetworkStatus">
        <param name="android-package" value="org.apache.cordova.NetworkManager" />
        <param name="ios-package" value="CDVConnection" />
    </feature>

    <!-- SETTINGS -->
    <preference name="fullscreen" value="true"/>
    <preference name="phonegap-version" value="3.4.0"/>
    <preference name="target-device" value="universal" />
    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <!--<preference name="orientation" value="portrait"/>-->
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="10000"/>

    <preference name="KeyboardDisplayRequiresUserAction" value="false" />

    <preference name="android-minSdkVersion" value="14" />


    <gap:config-file platform="ios" parent="UIStatusBarHidden">
        <true/>
    </gap:config-file>

    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
        <false/>
    </gap:config-file>



    <!-- SPLASHSCREENS -->
    <gap:splash src="res/android/ldpi.png" gap:platform="android" gap:density="ldpi"/>
    <gap:splash src="res/android/mdpi.png" gap:platform="android" gap:density="mdpi"/>
    <gap:splash src="res/android/hdpi.png" gap:platform="android" gap:density="hdpi"/>
    <gap:splash src="res/android/xhdpi.png" gap:platform="android" gap:density="xhdpi"/>

    <gap:splash gap:platform="ios" height="1136" src="res/ios/640x1136.png" width="640"/>
    <gap:splash gap:platform="ios" height="480" src="res/ios/320x480.png" width="320"/>
    <gap:splash gap:platform="ios" height="960" src="res/ios/640x960.png" width="640"/>
    <gap:splash gap:platform="ios" height="1024" src="res/ios/768x1024.png" width="768"/>
    <gap:splash gap:platform="ios" height="2008" src="res/ios/1536x2008.png" width="1536"/>



</widget>
